﻿@model CurrencyRates.Models.Public.Representations.CurrencyRatesResultRepresentation
	<div class="table-wrapper">
		<table class="table table-hover">
			<thead>
				<tr>
					<th><div class="input-append date"><span class="add-on"><span class="glyphicon glyphicon-filter"></span> Date</span></div></th>
					<th>Currency</th>
					<th>Quantity</th>
					<th>Rate</th>
					<th>Unit</th>
				</tr>
			</thead>
			<tbody>
				@if (Model != null && Model.CurrencyRates != null)
				{
					foreach (var CurrencyRate in Model.CurrencyRates)
					{
						<tr>
							<td><a href="#">@CurrencyRate.Date.ToString("yyyy-MM-dd")</a></td>
							<td>@CurrencyRate.Currency</td>
							<td>@CurrencyRate.Quantity</td>
							<td>@CurrencyRate.Rate</td>
							<td><span class="label label-info">@CurrencyRate.Unit</span></td>
						</tr>
					}
				}
			</tbody>
		</table>
		@if (!Model.IsSucced)
		{
			<div class="text-center">
				@Model.Message
			</div>
		}
	</div>
