﻿
@media (min-width: 320px) and (max-width: 768px) {
	.boxed-container .container {
		width: 600px;
	}
}

@media (min-width: 768px) and (max-width: 1025px) {
	.boxed-container .container {
		width: 700px;
	}
}

@media (min-width: 1025px) and (max-width: 1281px) {
	.boxed-container .container {
		width: 700px;
	}
}

@media (min-width: 1281px) {
	.boxed-container .container {
		width: 900px;
	}
}

.boxed-container .container {
	background-color: #f5f5f5;
	padding: 35px 20px 35px 20px;
	margin-top: 35px;
}

.glyphicon-filter:hover {
	cursor: pointer;
}