﻿@model CurrencyRates.Models.Public.Representations.CurrencyRatesResultRepresentation

<div class="panel panel-flat">
	<div class="panel-heading text-center">
		<h4>Currency rates: </h4>
	</div>
	<div class="panel-body">
		@Html.Partial("ExchangeRatesPartialView", Model)
	</div>
	</div>
